/* Hamburger Icon Styling */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 1.68rem;
  right: 20px; /* Position it on the right side */
  z-index: 1000; /* Ensure it's on top of the menu */
}

.line {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
/*
.menu {
  list-style: none;
  margin: 5.8rem .2rem 0 0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -55%; Adjust the percentage to ensure it's completely off-screen 
  text-align: center;
  width: 50%;
  background-color: #fff7ed;
  transition: all 0.5s ease;
}

.menu.open {
  right: 0;
}*/

.menu {
  list-style: none;
  margin: .3rem .3rem 0 0;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  width: 50%;
  background-color: #fff7ed;
  transition: transform .3s ease; /* Adjust the duration and timing function */
  transform: translateY(-100%); /* Initially move the menu off-screen vertically */
}

.menu.open {
  transform: translateY(0); /* Move the menu on-screen vertically */
}


.close {
  visibility: hidden;
}

/* transition: transform .3s ease; /* Transition the transform property */
/* transform: translateY(-100%); Initially move the menu off-screen vertically */
/* transform: translateY(0); Move the menu on-screen vertically */


.menu li {
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.menu li:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  /* background-color: #FFF7ED;
    border: 1px solid #fff; */
}

.dropdown:hover .dropdown-content {
  display: block;
}
