* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  /* max-width: 2560px !important;
    margin: 0 auto; */
}

button {
  cursor: pointer;
}

/* .text-active {
    font-weight: 700;
    color: lightblue;
} */

/* 
.navlink:active {
    text-decoration: wavy !important;
} */

/* .navlink > li:hover {
    color: blue !important;
}

.navlink > li:focus {
    color: pink !important;
}

.navlink > li:link {
    color: gold !important;
}

.navlink > li:visited {
    color: purple !important;
} */

/* @media (min-width: 1800px) {
    body {
        background: red;
    }
} */

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-image img {
  width: 90%;
  max-width: 40rem;
}

.close-button {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
