* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

/* 
.navlink > li:active {
    text-decoration: underline !important;
} */

/* .navlink > li:hover {
    color: blue !important;
}

.navlink > li:focus {
    color: pink !important;
}

.navlink > li:link {
    color: gold !important;
}

.navlink > li:visited {
    color: purple !important;
} */








